{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Membresia{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'memberships/css/formMemberships.css' %}">
{% endblock %}

{% block content %}
<!-- Fondo borroso -->
<div class="background"></div>

<!-- Contenedor del Registro -->
<div class="form-container">
    <h2>Crear Membresia</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="botones">
            <button type="submit">Registrar</button>
            <button type="button" class="cancelar"><a
                    href="{% url 'memberships:memberships_list' %}">Cancelar</a></button>
        </div>
    </form>
</div>

{% endblock %}