/* Main background with gradient */
main {
    background: linear-gradient(to left, #b4ae9ea4, #42403e13, #b4ae9ea4);
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Table styling with blur background but readable content */
.table-container {
    position: relative;
    display: block;
    background: linear-gradient(to left, #b4ae9ea4, #42403e13, #b4ae9ea4); /* Fondo degradado */
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin: auto;
    max-width: 90%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */

}

/* Table itself */
.table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.6); /* Fondo más claro para la tabla */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    table-layout: fixed; /* Establecemos layout fijo para controlar el ancho */

}

/* Header styling, no blur */
.table th {
    background-color: #85837d; /* Color marrón suave */
    color: #ffffff;
    padding: 12px 15px;
    text-align: center;
    z-index: 2; /* Asegura que el encabezado esté por encima */
}

/* Table data cell styling */
.table td {
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
    color: #5b3928;
    z-index: 2; /* Asegura que las celdas estén por encima */
}

/* Zebra striping for rows */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 239, 214, 0.5);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Hover effect for rows */
.table-hover tbody tr:hover {
    background-color: rgba(230, 210, 180, 0.6);
    transition: background-color 0.3s ease;
}

/* Buttons styling */
.botones_accion {
    display: flex;
    justify-content: center;
    min-width: 85px;
}

.btn {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn img {
    filter: drop-shadow(2px 2px 10px #f4a261);
}

/* Hover effect for buttons */
.btn-warning:hover {
    filter: drop-shadow(2px 2px 10px #e76f51);
    color: #ffffff;
}

.btn img {
    width: 25px;
}
