<!-- templates/users/edit_user.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} Editar | GymX {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'users/css/autenticacion.css' %}">
{% endblock %}

{% block content %}
<!-- Fondo borroso -->
<div class="background"></div>

<!-- Contenedor del Registro -->
<div class="form-container">
    <h2>Modificar Usuario: {{ user.username }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="botones">
            <button type="submit">Editar Usuario</button>
            <button type="button" class="cancelar"><a href="{% url 'users:user_list' %}">Cancelar</a></button>
        </div>
    </form>

</div>

{% endblock %}