<!-- users/templates/pages/contact.html -->
{% extends "base.html" %}
{% load static %}

{% block title %} Contacto | GymX {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<!-- Fondo borroso -->
<div class="background"></div>
<!-- Contacto -->
<div class="container-contact">
    <div class="contact-form fade-in-up">
        <h2>Contáctanos</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="message">Mensaje</label>
                <textarea name="message" id="message" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}